In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import json
import numpy as np
import pandas as pd

import scipy as sp
import scipy.stats as st
from scipy.special import expit as sigmoid
import scipy.stats as sts
from scipy import sparse
from scipy.stats import multivariate_normal

from sklearn.linear_model import LogisticRegression
from copy import copy
from IPython.display import Image
import pickle
from datetime import datetime, timedelta
import json
import gc
import re
from tqdm import tqdm
from collections import defaultdict, Counter


sns.set_style("whitegrid")
sns.set_palette("colorblind")
palette = sns.color_palette()
figsize = (15,8)
legend_fontsize = 16

from matplotlib import rc
rc('font',**{'family':'sans-serif'})
rc('figure', **{'dpi': 300})

# 1. Прочитайте и проанализируйте данные, выберите турниры, в которых есть данные о составах команд и повопросных результатах

In [2]:
results = pickle.load(open("chgk/results.pkl", "rb"))
tournaments_df = pd.DataFrame(pickle.load(open("chgk/tournaments.pkl", "rb"))).transpose()
tournaments_df.dateStart = pd.to_datetime(tournaments_df.dateStart)
players_df = pd.DataFrame(pickle.load(open("chgk/players.pkl", "rb"))).transpose()

In [3]:
tournaments_df.head()

,id,name,dateStart,dateEnd,type,season,orgcommittee,synchData,questionQty
1,1,Чемпионат Южного Кавказа,2003-07-25 00:00:00+04:00,2003-07-27T00:00:00+04:00,"{'id': 2, 'name': 'Обычный'}",/seasons/1,[],None,None
2,2,Летние зори,2003-08-09 00:00:00+04:00,2003-08-09T00:00:00+04:00,"{'id': 2, 'name': 'Обычный'}",/seasons/1,[],None,None
3,3,Турнир в Ижевске,2003-11-22 00:00:00+03:00,2003-11-24T00:00:00+03:00,"{'id': 2, 'name': 'Обычный'}",/seasons/2,[],None,None
4,4,Чемпионат Украины. Переходной этап,2003-10-11 00:00:00+04:00,2003-10-12T00:00:00+04:00,"{'id': 2, 'name': 'Обычный'}",/seasons/2,[],None,None
5,5,Бостонское чаепитие,2003-10-10 00:00:00+04:00,2003-10-13T00:00:00+04:00,"{'id': 2, 'name': 'Обычный'}",/seasons/2,[],None,None

In [4]:
players_df.head()

    id     name  patronymic    surname
1    1  Алексей        None   Абабилов
10  10    Игорь                 Абалов
11  11  Наталья     Юрьевна  Абалымова
12  12    Артур  Евгеньевич    Абальян
13  13     Эрик  Евгеньевич    Абальян

In [5]:
train_start_date = pd.to_datetime("2019/01/01 00:00:00", utc=True)
train_end_date = pd.to_datetime("2019/12/31 23:59:59", utc=True)
train_tournaments_index = tournaments_df[tournaments_df.dateStart.between(train_start_date, train_end_date)].id
train = []

for tour_id in train_tournaments_index:
    tournament = results.get(tour_id, -1)
    if tournament == -1:
        continue
        
    for team in tournament:
        mask = team.get("mask", "")
        if not mask or re.sub("[0-1]+", "", mask):
            continue
                  
        team_id = int(team["team"]["id"])
        
        for member in team["teamMembers"]:
            player_id = member['player']['id']
            for quest_idx, answ in enumerate([int(i) for i in mask]):
                train.append([tour_id, team_id, player_id, str(tour_id) + "_" + str(quest_idx), int(answ)])
    

df_train = pd.DataFrame(train)
df_train.columns = ['tournament_id', 'team_id', 'player_id', 'question_id', 'answer']

In [6]:
df_train.head()

   tournament_id  team_id  player_id question_id  answer
0           4772    45556       6212      4772_0       1
1           4772    45556       6212      4772_1       1
2           4772    45556       6212      4772_2       1
3           4772    45556       6212      4772_3       1
4           4772    45556       6212      4772_4       1

In [7]:
test_start_date = pd.to_datetime("2020/01/01 00:00:00", utc=True)
test_end_date = pd.to_datetime("2020/12/31 23:59:59", utc=True)
test_tournaments_index = tournaments_df[tournaments_df.dateStart.between(test_start_date, test_end_date)].id
test = []
test_position = []
for tour_id in test_tournaments_index:
    tournament = results.get(tour_id, -1)
    if tournament == -1:
        continue
    
    for team in tournament:
        mask = team.get("mask", "")
        if not mask or re.sub("[0-1]+", "", mask):
            continue
        team_id = int(team["team"]["id"])
        test_position.append([tour_id, team_id, team["position"]])
        for member in team["teamMembers"]:
            player_id = member['player']['id']
            for quest_idx, answ in enumerate([int(i) for i in mask]):
                test.append([tour_id, team_id, player_id, str(tour_id) + "_" + str(quest_idx), int(answ)])

In [8]:
df_test_position = pd.DataFrame(test_position)
df_test_position.columns = ['tournament_id', 'team_id', 'position']

In [9]:
df_test_position.head()

   tournament_id  team_id  position
0           5414    66120       1.0
1           5414      312       2.5
2           5414        2       2.5
3           5414    72338       5.0
4           5414     4032       5.0

In [10]:
df_test = pd.DataFrame(test)
df_test.columns = ['tournament_id', 'team_id', 'player_id', 'question_id', 'answer']

In [11]:
df_test.head()

   tournament_id  team_id  player_id question_id  answer
0           5414    66120      18490      5414_0       1
1           5414    66120      18490      5414_1       1
2           5414    66120      18490      5414_2       1
3           5414    66120      18490      5414_3       1
4           5414    66120      18490      5414_4       1

# Baseline model

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_transformer
from sklearn.pipeline import Pipeline

In [13]:
one_hot = ColumnTransformer(
    transformers=[
            ('OneHot', OneHotEncoder(), ['tournament_id', 'player_id'])
    ],
        remainder='drop',
        sparse_threshold=1
    )
pipe = Pipeline(
        verbose=True,
        steps=[
            ('one_hot', one_hot),
            ('logreg', LogisticRegression(solver='liblinear', max_iter=100))
        ]
    )
pipe.fit(df_train[['tournament_id', 'player_id']], df_train['answer'])

[Pipeline] ........... (step 1 of 2) Processing one_hot, total=   4.3s
[Pipeline] ............ (step 2 of 2) Processing logreg, total= 5.1min

Pipeline(steps=[('one_hot',
                 ColumnTransformer(sparse_threshold=1,
                                   transformers=[('OneHot', OneHotEncoder(),
                                                  ['tournament_id',
                                                   'player_id'])])),
                ('logreg', LogisticRegression(solver='liblinear'))],
         verbose=True)

In [14]:
player_features_start_pos = df_train.nunique()['tournament_id']
player_features_names = pipe['one_hot'].get_feature_names()[player_features_start_pos:]
player_ids = [int(name[11:]) for name in player_features_names]

/Users/simba9/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [15]:
player_weights = pipe['logreg'].coef_[0][player_features_start_pos:]

In [16]:
map_id_to_weight = dict(zip(player_ids, player_weights))

In [17]:
map_id_to_weight = dict(sorted(map_id_to_weight.items(), key=lambda item: item[1], reverse=True))

In [18]:
i = 0
top_100 = []
for player_id, score in map_id_to_weight.items():
    if i >= 100:
        break
    player = players_df[players_df.id == player_id]
    player_name = player.name.values[0] + " " + player.patronymic.values[0] + " " + player.surname.values[0]
    top_100.append([player_name, score])
    i += 1

In [19]:
df_top_100 = pd.DataFrame(top_100)
df_top_100.columns = ['player', 'score']

In [20]:
print(df_top_100.to_string())

                                player     score
0              Максим Михайлович Руссо  3.051347
1       Александра Владимировна Брутер  2.960198
2              Иван Николаевич Семушин  2.930721
3         Павел Константинович Щербина  2.921337
4        Михаил Владимирович Савченков  2.838481
5             Артём Сергеевич Сорожкин  2.816663
6            Сергей Леонидович Спешков  2.814304
7            Михаил Ильич Левандовский  2.737535
8            Сергей Игоревич Николенко  2.718894
9          Антон Владимирович Саксонов  2.717776
10          Ирина Сергеевна Прокофьева  2.701985
11   Станислав Григорьевич Мереминский  2.690272
12          Александр Витальевич Либер  2.667702
13         Наталья Евгеньевна Горелова  2.658509
14      Александр Владимирович Мосягин  2.653666
15              Илья Сергеевич Новиков  2.641685
16             Сусанна Марковна Бровер  2.631253
17          Алексей Владимирович Гилёв  2.625826
18              Игорь Викторович Мокин  2.625558
19              Мария Алексеевна Юнгер  2.622341
20    Евгений Александрович Пашковский  2.612586
21       Дмитрий Александрович Карякин  2.602445
22     Николай Александрович Коврижных  2.601649
23            Антон Анатольевич Чернин  2.598405
24            Евгений Павлович Спектор  2.593922
25       Мария Владимировна Кленницкая  2.589441
26              Юрий Яковлевич Выменец  2.586426
27           Дмитрий Сергеевич Кудинов  2.585671
28              Михаил Сергеевич Царёв  2.577964
29          Николай Валерьевич Крапиль  2.576998
30        Наталья Алексеевна Кудряшова  2.570713
31          Михаил Андреевич Новосёлов  2.566572
32      Андрей Вячеславович Островский  2.564344
33        Юлия Сергеевна Архангельская  2.557845
34         Александр Ефимович Мартынов  2.549935
35         Александр Валерьевич Марков  2.544888
36           Дмитрий Николаевич Петров  2.544237
37           Евгений Михайлович Перпер  2.528434
38      Владимир Владимирович Степанов  2.527695
39           Максим Игоревич Пилипенко  2.515857
40        Елизавета Сергеевна Овдеенко  2.515041
41     Алексей Алексеевич Богословский  2.514273
42            Евгений Васильевич Дёмин  2.511109
43       Иделия Мукадясовна Айзятулова  2.508209
44         Татьяна Евгеньевна Фёдорова  2.505978
45               Ким Гагикович Галачян  2.504304
46              Павел Михайлович Ершов  2.503272
47           Наиль Евгеньевич Фарукшин  2.501100
48           Михаил Леонидович Матвеев  2.500897
49            Максим Оскарович Поташев  2.498502
50          Инна Валентиновна Семёнова  2.493185
51         Светлана Сергеевна Иванцова  2.489732
52         Кристина Олеговна Кораблина  2.486815
53  Александр Геннадьевич Коробейников  2.486244
54        Александр Маркович Тобенгауз  2.483626
55          Светлана Борисовна Бомешко  2.479780
56          Игорь Станиславович Калгин  2.479528
57             Борис Яковлевич Моносов  2.477326
58                     Полина  Усыскин  2.474125
59            Кирилл Игоревич Михайлов  2.473128
60           Мария Алексеевна Летюхина  2.473062
61      Артём Александрович Митрофанов  2.463219
62            Иван Викторович Ермолаев  2.461562
63       Алексей Валерьевич Белоглазов  2.460838
64         Эльвира Борисовна Верзунова  2.460547
65            Алексей Алексеевич Генус  2.460547
66         Иван Александрович Эйхгольц  2.460339
67             Иван Николаевич Ефремов  2.460327
68            Николай Георгиевич Рябых  2.460173
69        Ирина Николаевна Колесникова  2.458126
70        Тимур Рустемович Кафиатуллин  2.457855
71       Сергей Владимирович Коновалов  2.456232
72    Александр Александрович Фингеров  2.452193
73          Михаил Михайлович Сафронов  2.445395
74         Денис Андреевич Галиакберов  2.441468
75            Дмитрий Сергеевич Ожигов  2.440314
76  Александр Александрович Людикайнен  2.440008
77          Эльман Эльдар оглы Талыбов  2.437900
78       Александра Сергеевна Киланова  2.437685
79         Наталья Александровна Комар  2.436123
80            Михаил Дмитриевич Фрадис  2.434366
81          Евгений Адольфович Миротин  2.426935
82          Анна Григорьевна Резникова  2.426668
83       Алексей Владимирович Шередега  2.424891
84            Ольга Игоревна Дубинская  2.424343
85          Виталий Валерьевич Кунашко  2.423887
86         Егор Дмитриевич Господчиков  2.419513
87     Мария Владимировна Подрядчикова  2.417262
88          Игорь Вячеславович Тюнькин  2.415474
89            Мария Львовна Рубинштейн  2.406194
90             Лев Григорьевич Кертман  2.398700
91         Антон Александрович Буторин  2.393103
92             Сергей Викторович Филин  2.389962
93          Руслан Гафурович Хаиткулов  2.387434
94              Вадим Игоревич Яковлев  2.378035
95        Анастасия Борисовна Калинина  2.376328
96          Валентин Наумович Исраэлит  2.374132
97          Анна Михайловна Карпелевич  2.373915
98           Дмитрий Вадимович Великов  2.373322
99            Михаил Леонидович Малкин  2.372599

# 3 Качество рейтинг системы

In [21]:
from scipy import stats

In [22]:
def get_prediction(tournament, player_to_weight, orginal_position_dict):
    predict_weight_dict = defaultdict(lambda : 0)
    avg_weight = np.mean([v for v in player_to_weight.values()])
    for idx, team in enumerate(tournament):
        weight = 0
        for player_info in team['teamMembers']:
            p_id = player_info['player']['id']
            try:
                weight += player_to_weight[p_id]
            except:
                weight += avg_weight
        predict_weight_dict[team["team"]["id"]] = weight
    predict_weight_dict = dict(sorted(predict_weight_dict.items(), key=lambda item: item[1], reverse=True))
    predict_position_dict = dict(zip(predict_weight_dict.keys(), range(1, len(predict_weight_dict) + 1)))
    return [predict_position_dict[team_id] for team_id in orginal_position_dict.keys()]

In [23]:
kendalltau_corr = []
spearmanr_corr = []

for tour_id in df_test.tournament_id.unique():
    tournament = results.get(tour_id, -1)
    if tournament == -1:
        continue
    
    original_position = [team['position'] for team in tournament]
    teams = [team["team"]["id"] for team in tournament]
    orginal_position_dict = dict(zip(teams, original_position))
    prediction_position = get_prediction(tournament, map_id_to_weight, orginal_position_dict)


    kendalltau_corr.append(stats.kendalltau(original_position, prediction_position).correlation)
    spearmanr_corr.append(stats.spearmanr(original_position, prediction_position).correlation)

In [24]:
np.mean(kendalltau_corr), np.mean(spearmanr_corr)

(0.6240738447088694, 0.7783292841670338)

# 4 EM

## M step

In [25]:
one_hot = ColumnTransformer(
    transformers=[('OneHot', OneHotEncoder(), ['player_id', 'question_id'])],
    remainder='drop',
    sparse_threshold=1
)

pipe = Pipeline(
    verbose=True,
    steps=[
        ('one_hot', one_hot),
        ('logreg', LogisticRegression(solver='saga', max_iter=100))
    ]
)

def m_step(model, X, y):
    model.fit(X, y)
    return model, model.predict(X)

## E step

In [ ]:
def e_step(df, preds):
    df['new_target'] = preds
    label_zero_idx = df['target'] == 0
    df.loc[label_zero_idx, 'new_target'] = 0
    # изменяем только метки для вопросов, на которые команда ответила
    # поскольку p(z_ij = 1 | team_ij = 0) = 0 в силу предположений
    label_one_idx = df['target'] == 1
    e_step_denom = df.loc[label_one_idx].groupby(['team_id', 'question_id'])['new_target']
    e_step_denom = e_step_denom.transform(lambda x : 1 - np.prod(1 - x.values))
    df.loc[label_one_idx, 'new_target'] = df.loc[label_one_idx, 'new_target'] / e_step_denom
    new_y = df['new_target'].fillna(0)
    return new_y

In [ ]:
# z - вероятность ответить игроком на вопрос, команда ответила на вопрос если 20 процентов команды ответили правильно
# сначала вероятность ответа на вопрос каждого игрока равна 50 процентам

In [26]:
z = []
for player_id in df_train.player_id.unique():
    z.append([player_id, 0.5])
df_z = pd.DataFrame(z)
df_z.columns = ['player_id', 'prob_get_right_answ']

In [42]:
dict_teams_by_tour_train = {}
for tour_id in df_train.tournament_id:
    dict_teams_by_tour_train[tour_id] = df_train[df_train.tournament_id == tour_id].team_id.unique()

KeyboardInterrupt:

In [41]:
new_preds = []
for tour_id in df_train.tournament_id:
    teams = dict_teams_by_tour_train[tour_id]
    for team_id in teams:
        team_members = df_train[df_train.team_id == team_id].player_id.unique()
        count_right_answ = 0
        for player_id in team_members:
            p = df_z[df_z.player_id == player_id].prob_get_right_answ.values[0]
            q = 1 - p
            count_right_answ += np.random.choice([0, 1], p=[p, q])
        if count_right_answ / len(team_members) >= 0.2:
            for _ in team_members:
                new_preds.append(1)
        else:
            for _ in team_members:
                new_preds.append(0)

KeyboardInterrupt:

In [ ]:
def e_step(df, preds):

## EM

In [ ]:
for i in range(n_epoch):
    y = e_step(df_train, preds)
    pipe, preds = m_step(pipe, X, y)
    weights = save_player_weights(X, pipe)
    save_obj(weights, f'em_weights_epoch_{i}')

In [ ]:
X, y = df_train[['player_id', 'question_id']], df_train['answer']